.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  border: 1px solid blue;
}

.logo {
  display: flex;
  color: MediumAquaMarine;
}

.Navigation {
  display: flex;

}

.Liste {
  display: inline-block;
}
