.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  color: MediumAquaMarine;
}

.Navigation {
  display: flex;
}

.Liste {
  display: inline-block;
}
